<!DOCTYPE html>
<html>
  <head>
    <title>LiftOff</title>
    <%= csrf_meta_tags %>
    <link href="//use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <%= favicon_link_tag asset_path('favicon-image.png'), :rel => 'icon', :type =>  'image/png' %>
    <title>LiftOff</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
